<h1>Страница пользователей</h1>

<table class="table">
    <% @results.each do |item| %>
        <tr>
            <td><%= item['username'] %></td>
            <td><%= item['phone'] %></td>
            <td><%= item['datestamp'] %></td>
            <td><%= item['barber'] %></td>
            <td><%= item['color'] %></td>
        </tr>
    <% end %>
</table>